 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 275px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 31px;
  margin-bottom: -1px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 245px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 16px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 16px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 16px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 16px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 201px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 637px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 463px;
}

.u-section-2 .u-text-1 {
  margin: 16px auto 0 73px;
}

.u-section-2 .u-image-1 {
  --radius: 10px;
  width: 414px;
  height: 185px;
  object-position: 0% 50%;
  margin: -43px 209px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 149px;
  height: 149px;
  margin: -177px auto 0 -103px;
}

.u-section-2 .u-text-2 {
  margin: -102px auto 0 73px;
}

.u-section-2 .u-btn-1 {
  --radius: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -119px -104px 0 auto;
  padding: 11px 50px 11px 49px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.3em;
}

.u-section-2 .u-text-3 {
  margin: 103px 705px 0 73px;
}

.u-section-2 .u-image-3 {
  --radius: 10px;
  width: 414px;
  height: 185px;
  object-position: 0% 50%;
  margin: -43px 209px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 149px;
  height: 149px;
  margin: -177px auto 0 -103px;
}

.u-section-2 .u-text-4 {
  margin: -102px auto 0 73px;
}

.u-section-2 .u-btn-2 {
  --radius: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -115px -90px 60px auto;
  padding: 11px 50px 11px 49px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.3em;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-2 .u-image-1 {
    height: 186px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -178px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 582px;
  }

  .u-section-2 .u-image-3 {
    height: 186px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -178px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 446px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-top: -43px;
    margin-right: 126px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 335px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 153px;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -145px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 211px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 153px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: -145px;
  }
}